@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --main-color: #26c2ff;
  --second-color:#ecb604;
  --bg-color-1: #111111;
  --bg-color-2: #222222;
  --bg-color-3: #333333;
  --bg-color-4:rgba(0, 0, 0, 0.363);
  --text-color-1: #dddddd;
  --text-color-2: #cccccc;
  --text-color-3: #bbbbbb;
  --text-color-4:#111111;
  --border-color: #504f4f;
}

body {
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
}

a {
  text-decoration: none;
  color: var(--text-color-1);
}

.h1{
  font-size: 1.6rem;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  color: var(--text-color-3);
}