.header__search {
    width: min(400px, 100%);
}

.header__form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 5px 0;
    border-radius: 25px;
    background-color: var(--bg-color-3);
    border: 1px solid var(--border-color);

    input {
        width: 100%;
        background: none;
        border: none;
        color: var(--text-color-1);
        font-size: 1rem;
        padding-left: 10px;

        &:focus {
            outline: none;
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
        width: 38px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 100%;
        font-size: 1.1rem;
        background: none;
        color: var(--text-color-1);
        background-color: var(--bg-color-2);
        border: none;
        cursor: pointer;
    }
}